body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
  color: #555;
}

header {
  background-color: #dddddd;
  height: 200px;
}

.badge {
  font-weight: 500;
}

.icon {
  margin: 5px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.icon.email {
  background-image: url('assets/email.svg');
}

.icon.google {
  background-image: url('assets/google.svg');
}

.icon.github {
  background-image: url('assets/github.svg');
}

.icon.linkedin {
  background-image: url('assets/linkedin.svg');
  background-size: 14px;
}
